/* Default Settings & Colour Codes */

/*
#6BEE7E
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
    border: none;
}

/* Header Section */ 

.header {
    align-items: center;
    background-color: #439950;
    display: flex;
    height: 3rem;
    justify-content: center;
    padding: 3rem 3rem;
}

.main-navig-list {
    align-items: center;
    display: flex;
    gap: 5rem;
    list-style: none;
}

.main-navig-link {
    display: inline-block;
    color: #FFFFFF;
    font-family: "Climate Crisis", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    text-decoration: none;
}

/* Index Section */

.section-index {
    background-color: #6BEE7E;
    padding: 10rem 0 10rem 0;
}

.index {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem;
}

.index-first-box {
    text-align: center;
}

.index-heading {
    color: #FFFFFF;
    font-family: "Climate Crisis", sans-serif;
    font-size: 10rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

.index-buttons {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    cursor: pointer;
    font-family: "Climate Crisis", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-full {
    background-color: #439950;
    border: 2px solid #439950;
    color: #FFFFFF;
}

.btn-full:hover {
    background-color: #2D6636;
    border: 2px solid #2D6636;
}

.btn-outline {
    background-color: #FFFFFF;
    border: 2px solid #439950;
    color: #439950;
}

.btn-outline:hover {
    background-color: #2D6636;
    border: 2px solid #2D6636;
    color: #FFFFFF;
}

.btn-margin-left {
    margin-left: 1rem;
}

/* Quote Section */

.section-quote {
    background-color: #FFFFFF;
    padding: 5rem 0 0 0;
}

.quote {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem 5rem;
}

.bold {
    font-weight: 700;
}

.quote-heading {
    color: #6BEE7E;
    font-family: "Climate Crisis", sans-serif;
    font-size: 6rem;
    font-weight: 100;
    line-height: 6rem;
    margin-bottom: 2rem;
}

.quote-sub-heading {
    color: #439950;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 5rem;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.quote-first-box {
    text-align: center;
}

.quote-text {
    color: #439950;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

/* Audio Section */

.section-audio {
    background-color: #FFFFFF;
    padding: 0 0 10rem 0;
}

.audio {
    align-items: center;
    background-color: #302F2F;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    max-width: 50rem;
    margin: 0 auto;
    padding: 5rem 5rem;
    text-align: center;
}

#audio-cover-art {
    width: 20rem;
    margin-bottom: 2rem;
}

#audio-name {
    color: #FFFFFF;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 4rem;
}

.audio-controls-box {
    margin-bottom: 1rem;
}

.fa-play, .fa-pause, .fa-backward, .fa-circle-info {
    background-color: #439950;
    cursor: pointer;
    color: #FFFFFF;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 2rem;
    transition: all 0.3s;
}

.fa-play:hover, .fa-pause:hover, .fa-backward:hover, .fa-circle-info:hover {
    background-color: #2D6636;
}

.fa-pause, .fa-backward, .fa-circle-info {
    text-decoration: none;
}

.call-to-action-text {
    color: #439950;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.call-to-action-box {
    margin-top: 5rem;
    text-align: center;
}

/* Footer Section */

.section-footer {
    background-color: #6BEE7E;
    padding: 0.5rem 0 0.5rem 0;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem 5rem;
}

.footer-information {
    color: #FFFFFF;
    font-family: "Climate Crisis", sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
}

.copyright {
    font-family: "Google Sans Flex", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

/* Plan Section */ 

.section-plan {
    background-color: #6BEE7E;
    padding: 10rem 0 10rem 0;
}

.plan {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem;
}

.plan-first-box {
    text-align: center;
}

.plan-heading {
    color: #FFFFFF;
    font-family: "Climate Crisis", sans-serif;
    font-size: 10rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

.plan-sub-heading {
    color: #FFFFFF;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

/* Schedule Section */

.section-schedule {
    background-color: #FFFFFF;
    padding: 0 0 10rem 0;
}

.schedule {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem 5rem;
}

.btn-no-hover:hover {
    background-color: #439950;
    color: #FFFFFF;
    cursor: default;
}

.btn-no-border:hover {
    border: 2px solid #439950;
}

.schedule-first-box {
    text-align: center;
}

.day {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem 5rem;
}

.day-heading {
    color: #6BEE7E;
    font-family: "Climate Crisis", sans-serif;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

.day-information {
    color: #439950;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
}

.workout {
    list-style: none;
    text-decoration: none;
}

/* Activity Section */

.section-activity {
    background-color: #6BEE7E;
    padding: 10rem 0 10rem 0;
}

.activity {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem;
}

.activity-first-box {
    text-align: center;
}

.activity-heading {
    color: #FFFFFF;
    font-family: "Climate Crisis", sans-serif;
    font-size: 10rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

/* Form Section */

.section-form {
    background-color: #FFFFFF;
    padding: 5rem 0 5rem 0;
}

.form {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem 5rem;
}

.contact {
    background-color: #439950;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 41rem;
    overflow: hidden;
}

.form-first-box {
    padding: 3rem 3rem;
}

.form-box {
    column-gap: 3rem;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.form-box label {
    color: #FFFFFF;
    display: block;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.form-box input, .form-box select, .form-box textarea {
    appearance: none;
    border: none;
    color: #000000;
    font-family: "Google Sans Flex", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 1.5rem;
    width: 100%;
}

.form-box textarea {
    height: 15rem;
    width: 35rem;
    resize: none;
}

.form-second-box {
    background-image: url(../imgs/official-form-img.png);
    background-size: cover;
    background-position: center;
}

.btn-align-end {
    align-self: end;
}

/* Media Queries */

@media screen and (max-width: 37.5em) {

.header {
    padding: 10rem 3rem;
}

.main-navig-list {
    flex-direction: column;
    gap: 3rem;
}

.main-navig-link {
    font-size: 1.3rem;
}

.index {
    display: grid;
    flex-direction: column;
}

.index-heading {
    font-size: 3.8rem;
}

.index-buttons {
    flex-direction: column;
}

.btn {
    font-size: 1rem;
}

.quote-heading {
    font-size: 2.3rem;
}

.quote-sub-heading {
    font-size: 1.8rem;
}

.quote-text {
    font-size: 1.8rem;
}

.audio {
    max-width: 28rem;
}

#audio-cover-art {
    width: 16rem;
}

#audio-name {
    font-size: 1.3rem;
}

.audio-controls-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.fa-play, .fa-pause, .fa-backward, .fa-circle-info {
    font-size: 1.3rem;
}

.plan-heading {
    font-size: 3rem;
}

.day {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem 0;
}

.day-heading {
    font-size: 2.7rem;
}

.day-information {
    font-size: 1.6rem;
}

.call-to-action-text {
    font-size: 1.6rem;
}

.activity-heading {
    font-size: 3.4rem;
}

.contact {
    grid-template-columns: 1fr;
}

.form-first-box {
    padding: 3rem 3rem;
}

.form-box input, .form-box select, .form-box textarea {
    font-size: 1.1rem;
    padding: 1.5rem;
    width: 100%;
}

.form-box textarea {
    height: 17rem;
    width: 100%;
    resize: none;
}

.footer-information {
    font-size: 2rem;
}

.copyright {
    font-size: 1.6rem;
}
}
